body
{
  font-family:"AvenirLTStd-Roman";
  color:#333333;
  font-size:15px;
  margin:0;
  padding:0;
  background-color:white;
}

input[type='password'], input[type='text']
{
  font-size: 15px;
  font-family:"AvenirLTStd-Roman";
  font-weight:lighter;
}

input[type='password']:focus, input[type='text']:focus
{
  outline: none;
}

/*---TEMPLATE----*/

#overall_table
{
  border:solid 0px black;
  height:740px;
  width:100%;
  margin:0px;
  padding:0px;
  border-collapse:collapse;
  background-color:#f7f9fa;
}

#overall_table div
{
  vertical-align:top;
}

#overall_table td
{
  padding:0;
  margin:0;
}

#side_bar_home, #side_bar_login, #side_bar_sign_up
{
  display:inline-block;
  color:white;
  height:30px;
  width:70px;
  text-align:center;
  vertical-align:middle;
  line-height:34px;
  padding:0px;
  margin:10px;
}.highlighted
{
  border-bottom:solid 1px white;
}.unhighlighted
{
  border-bottom:solid 0px white;
}

/*---Search Box---*/

#content
{
    text-align:center;
}

#search_box
{
  display:inline-block;
  width:30%;
  height:100px;
  color:white;
  text-align:center;
  margin-right:35%;
}

#search_input
{
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  background-color:white;
  width:250px;
  margin:0 auto;
  text-align:left;
  padding-left:10px;
}

#map
{
  width:500px;
  height:400px;
  margin:0 auto;
}

/*Bottom agreement*/

.box
{
   display:inline-block;
  width:80px;
}

/*LINKS*/
a:link,a:active,a:visited,a:hover,a:active
{
  color: white;    text-decoration:none;
}

/*----------LOGIN*/
#login_box
{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  text-align:left;
  padding:45px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#f7f9fa;
}.field
{
  width:200px;
  padding:5px;
}.outter_box a
{
  color:#4a5d6f;
  font-size:13px;
}

#login_submit
{
  border:solid 0px black;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  width:100%;
  height:35px;
  background-color:#87c9ef;
  color:white;
  font-weight: bold;
  padding:0px;
  font-size: 15px;
  font-family:"AvenirLTStd-Roman";
}
