@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(Fonts/AvenirLTStd-Roman.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirLTStd-Light";
    src: url(Fonts/AvenirLTStd-Light.otf);
}


/*Index*/
html
{
    width:100%;
    height:100%;
}

body
{
    font-family:"AvenirLTStd-Roman";

    background: #e5e5e5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #f2f2f2 20%, #929394 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #f2f2f2 20%,#929394 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #f2f2f2 20%,#929394 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#a1a2a3',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */

    /*a1a2a3*/
    background-repeat:no-repeat;
    background-size:150% 150%;
    background-position:center;

    margin:0;
    padding:0;
    width:100%;
    height:100%;
}


#search_box
{
    display:block;
    font-size:18px;
    width:500px;
    height:40px;
    border:solid 1px #4d85f2;
}

.abc
{
    display:inline-block;
    padding-right:10px;
    padding-top:10px;
}

.abc a,.abc a:hover,.abc a:visited,.abc a:active,.abc a:link
{
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
    font-family:"AvenirLTStd-Light";
    font-size: 18;
    color:black;
    text-decoration: none;
}

input[type='password'], input[type='text']
{
    font-family:"AvenirLTStd-Light";
    font-size: 15px;
    border:solid 1px #ced1d7;
    padding-left:15px;
}
input[type='password']:focus, input[type='text']:focus
{
    outline:none;
}

textarea:focus
{
    outline:none;
}

/*If not logged*/

#top_sign_in
{
    position: absolute;
    top: 0px;
    right: 0px;
}

/*Profile picture circle*/
.user_pic
{
    width:120px;
    height:120px;
    background:#f1f1f1;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if don't care about IE8 */
}
#userpic
{
    width:120px;
    height:120px;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if don't care about IE8 */
}

#menu_section
{
    width:100%;
    height:100%;
    border-collapse: collapse;
}

#user_top_panel
{
    position:absolute;
    text-align: right;
    right:0px;
    top:0px;
    height:50px;
    width:200px;
}

#profile_picture
{
    display:inline-block;
    border-radius:50%;
    behavior:url(PIE.htc); /* remove if you don't care about IE8 */

    width:35px;
    height:35px;

    border:0px;
    margin:5px;

    box-shadow:0px 0px 4px #ccc;
}

#image_circle
{
    width:35px;
    height:35px;
    border-radius:50%;
}

#drop_down_panel
{
    font-family:"AvenirLTStd-Light";
    font-size:18px;

    display:none;
    position:absolute;
    text-align:right;

    top:46px;
    right:10px;
    width:153px;
    height:112px;
    padding:0px;
    margin:0px;
}
#drop_down_panel a
{
    font-family:"AvenirLTStd-Light";
    font-size:18px;

    color:black;
    text-decoration:none;
}

.drop_down_items
{
    text-align:center;
    width:100%;
    height:33.3%;
    line-height:2em;
}

#username_bar
{
    display:inline-block;
    vertical-align:top;
    padding-top:17px;
    margin-right:5px;
}

#username_bar a
{
    font-family:"AvenirLTStd-Light";
    font-size: 18;

    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
    color:black;
    text-decoration:none;
}

/*Emoji inline class*/
#emoji_content
{
    font-size:30px;
    height:55px;
    width:250px;
}

.in_row
{
    display:inline-block;
    padding-top:5px;
}
/*---TEMPLATE----*/
#overall_table
{
    border:solid 0px black;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    border-collapse:collapse;
}

#overall_table td
{
    padding:0;
    margin:0;
    border:solid 0px black;
}


#name
{
    font-family:"AvenirLTStd-Heavy";
    font-size:35px;
}
.light_style
{
    font-family:"AvenirLTStd-Light";
    font-size:20px;

    padding-bottom:8px;
}
#decor_table
{
    border:solid 0px black;
    padding:0px;
    margin:0px;
    width:100%;
    border-collapse:collapse;
}

/*Bottom agreement*/
.box
{
  display:inline-block;
  width:80px;
}
/*
----------LOGIN
*/
#error_box
{
    position:fixed;
    top:-23px;
    left:0;
    background-color:#fa6d65;
    color:white;
    width:100%;
    height:20px;
    text-align:center;
    padding-top:3px;
}

#login_box
{
    font-family:"AvenirLTStd-Light";
    border-collapse:collapse;
    width:100%;
}

#login_box td
{
    border:0px solid black;
    padding:5px;
}

#login_box input[type='text'],#login_box input[type='password']
{
    font-family:"AvenirLTStd-Light";
    display:block;
    font-size:18px;
    width:60%;
    height:40px;
    border:solid 0px #4d85f2;
    box-sizing:border-box;
    text-align:center;
}

#login_submit
{
   background-color:#ff9966;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid white;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:12px 31px;
    text-decoration:none;
    width:200px;
}
.bottom-table
{
    display:inline-block;
    font-family:"AvenirLTStd-Light";
}
.bottom-table a
{
    color:#4d85f2;
    text-decoration:none;
}

/*ADMIN*/
#admin_table
{
    width:100%;
    background-color:white;
    border-collapse:collapse;
}

#admin_table a,#admin_table a:hover,#admin_table a:visited, #admin_table a:link
{
    color:#4d85f2;
    text-decoration:none;
}

#admin_table td
{
    padding:5px;
    padding-right:5px;
    padding-left:5px;
}

#styled_table
{
    width:100%;
    background-color:white;
    border-collapse:collapse;
}

#styled_table td
{
    padding:5px;
    padding-right:5px;
    padding-left:5px;
}


#validated
{
    display:none;
}

#lines_table
{
    border-collapse:collapse;
    width:100%;
}

#lines_table td
{
    padding:5px;
}

#lines_table a,#lines_table a:hover,#lines_table a:visited, #lines_table a:link
{
    color:#4d85f2;
    text-decoration:none;
}


/*SEARCH PHP*/
#query_results
{
    overflow:auto;
    height:100%;
    width:100%;
}


#filter_settings
{
    font-family:"AvenirLTStd-Light";

    display:none;
    width:100%;
    text-align:left;
    border-collapse:collapse;
}
#filter_settings td
{
    font-size:17px;
    padding:2px;
}
#filter_settings input[type='text']
{
    font-family:"AvenirLTStd-Light";

    display:block-inline;
    font-size:17px;
    width:30%;
    height:40px;
    border:solid 0px #4d85f2;
    box-sizing:border-box;
    text-align:center;
    color:#A9B2C3;
}



#search_box_query
{
    display:inline-block;
    font-size:18px;
    width:490px;
    height:40px;
    border:0px solid white;
    color:#2D383A;
}

.item_box
{
    font-family:"AvenirLTStd-Light";
    width:100%;
    padding:5px;
    margin-bottom:5px;
    border-bottom:1px solid #ebebeb;
}

.item_box a
{
    text-decoration:none;
    color:#4d85f2;
}

.search_btn
{
    font-family:"AvenirLTStd-Light";
    background-color:#ff9966;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid white;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:9px 28px;
    text-decoration:none;
}

#no_result
{
    width:100%;
    text-align:center;
    font-size:18px;
    color:#ff9966;
}
.dropdown
{
    font-family:"AvenirLTStd-Light";
    box-sizing:border-box;
    border:0px solid black;
    height:32px;
    padding:5px;
    font-size:16px;
}


/*Basic*/

.reset_links a,.reset_links a:hover,.reset_links a:visited,.reset_links a:active,.reset_links a:link
{
    text-decoration:none;
    color:white;
}
