/*
--------USER
*/
#user_table
{
    width:50%;
    border-collapse:collapse;
}

#menu_table
{
    border:solid 1px black;
    border-collapse:collapse;
}
#menu_table td
{
    padding:5px;
}

.circleBase
{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if don't care about IE8 */
}
.user_pic
{
    width:120px;
    height:120px;
    background:#f1f1f1;
}
/*Menu section*/
.menu_elem
{
    height:100%;
    width:24.7%;
    display:inline-block;
    vertical-align:middle;
    line-height:34px;
    text-align:center;
}
#menu_row
{
    border-top:solid 1px #d2d7dc;
    border-bottom:solid 1px #d2d7dc;
    height:30px;
}

.under td
{
    border-bottom:solid 1px black;
}

/*

------ SET UP MENU

*/

.m_table
{
    background-color:white;
}

.m_table td
{
    padding:0px;
    border:solid 1px #ced1d7;
}

#operations
{
    width:100%;
    border-collapse:collapse;
}

#operations td
{
    width:33%;
    border:solid 0px black;
    text-align:center;
}


/*SELECT*/
.select-style
{
    display:inline-block;
    border: 1px solid #ccc;
    background-color:#fff;
    width: 50px;

    padding: 5px;
    margin: 0px;
    margin-right:5px;

    border-radius: 3px;
    overflow: hidden;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 45px 50%;
}
.select-style select
{
    font-size: 15px;
    font-family:"AvenirLTStd-Roman";

    padding: 1px 5px;
    width: 50px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.empty_select
{
    display:inline-block;
    border:solid 0px black;
    overflow: hidden;
}

.empty_select select
{
    font-size: 15px;
    font-family:"AvenirLTStd-Roman";

    width: 36px;
    padding-right:2px;
    padding-left:2px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.empty_select select:focus
{
    outline:none;
}
