/* MOD 2017 removed eatapp.ca */
/*
@font-face {font-family: "AvenirLTStd-Black"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Black.otf);}
@font-face {font-family: "AvenirLTStd-BlackOblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-BlackOblique.otf);}
@font-face {font-family: "AvenirLTStd-Book"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Book.otf);}
@font-face {font-family: "AvenirLTStdBlackOblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-BookOblique.otf);}
@font-face {font-family: "AvenirLTStd-Heavy"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Heavy.otf);}
@font-face {font-family: "AvenirLTStd-HeavyOblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-HeavyOblique.otf);}
@font-face {font-family: "AvenirLTStd-Light"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Light.otf);}
@font-face {font-family: "AvenirLTStd-LightOblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-LightOblique.otf);}
@font-face {font-family: "AvenirLTStd-Medium"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Medium.otf);}
@font-face {font-family: "AvenirLTStd-MediumOblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-MediumOblique.otf);}
@font-face {font-family: "AvenirLTStd-Oblique"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Oblique.otf);}
@font-face {font-family: "AvenirLTStd-Roman"; src:url(http://eatapp.ca/Fonts/AvenirLTStd-Roman.otf);}*/


@font-face {font-family: "AvenirLTStd-Black"; src:url(Fonts/AvenirLTStd-Black.otf);}
@font-face {font-family: "AvenirLTStd-BlackOblique"; src:url(Fonts/AvenirLTStd-BlackOblique.otf);}
@font-face {font-family: "AvenirLTStd-Book"; src:url(Fonts/AvenirLTStd-Book.otf);}
@font-face {font-family: "AvenirLTStdBlackOblique"; src:url(Fonts/AvenirLTStd-BookOblique.otf);}
@font-face {font-family: "AvenirLTStd-Heavy"; src:url(Fonts/AvenirLTStd-Heavy.otf);}
@font-face {font-family: "AvenirLTStd-HeavyOblique"; src:url(Fonts/AvenirLTStd-HeavyOblique.otf);}
@font-face {font-family: "AvenirLTStd-Light"; src:url(Fonts/AvenirLTStd-Light.otf);}
@font-face {font-family: "AvenirLTStd-LightOblique"; src:url(Fonts/AvenirLTStd-LightOblique.otf);}
@font-face {font-family: "AvenirLTStd-Medium"; src:url(Fonts/AvenirLTStd-Medium.otf);}
@font-face {font-family: "AvenirLTStd-MediumOblique"; src:url(Fonts/AvenirLTStd-MediumOblique.otf);}
@font-face {font-family: "AvenirLTStd-Oblique"; src:url(Fonts/AvenirLTStd-Oblique.otf);}
@font-face {font-family: "AvenirLTStd-Roman"; src:url(Fonts/AvenirLTStd-Roman.otf);}

html
{
    width:100%;
    height:100%;
}

body
{
    font-family:"AvenirLTStd-Roman";
    margin:0;
    padding:0;
    background-color:#fbfbfb;
    width:100%;
    height:100%;
}


input[type='password'], input[type='text']
{
    font-size: 15px;
    font-family:"AvenirLTStd-Light";
    font-weight:lighter;
    border:solid 1px #ced1d7;
    padding-left:15px;
}
input[type='password']:focus, input[type='text']:focus
{
    outline:none;
}


textarea:focus
{
    outline:none;
}
/*---TEMPLATE----*/
#overall_table
{
    border:solid 0px black;
    /*height:740px;*/
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    background-color:#f7f9fa;
}
#search_box
{
    font-size:20px;
    font-family:"AvenirLTStd-Light";
    border:solid 1px #4d85f2;
    padding-left:15px;
    width:500px;
    height:40px;
}
#overall_table td
{
    padding:0;
    margin:0;
}
#name
{
    font-size:35px;
    font-family:"AvenirLTStd-Heavy";
}
.light_style
{
 font-family:"AvenirLTStd-Light";
 font-size:20px;
 padding-bottom:8px;
}
#decor_table
{
    border:solid 0px black;
    padding:0px;
    margin:0px;
    width:100%;
    border-collapse:collapse;
}

/*Bottom agreement*/
.box
{
  display:inline-block;
  width:80px;
}
/*LINKS*/
a:link,a:active,a:visited,a:hover,a:active
{
    color:#4a5d6f;
    text-decoration:none;
}

/*
----------LOGIN
*/
#login_box
{
    border:solid 1px #ced1d7;
    text-align:left;
    padding:45px;
    padding-top:30px;
    padding-bottom:30px;
}

#login_box input[type='text'], input[type='password']
{
    width:200px;
    padding:5px;
}

#login_submit
{
    border:solid 0px black;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    width:100%;
    height:35px;
    background-color:#ffa25e;
    color:white;
    font-weight: bold;
    padding:0px;

    font-size: 15px;
    font-family:"AvenirLTStd-Roman";
}
#more_table a
{
font-family:"AvenirLTStd-Light";
font-size:14px;
}
/*
----------SIGN UP
*/
#error_box
{
    position:fixed;
    top:-23px;
    left:0;
    background-color:#fa6d65;
    color:white;
    width:100%;
    height:20px;
    text-align:center;
    padding-top:3px;
}
#sign_up_table
{
    width:450px;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    text-align:left;
    padding:40px;
    padding-top:30px;
    padding-bottom:30px;
    background-color:#f7f9fa;
}
#sign_up_table input[type='text'], input[type='password']
{
    width:200px;
    padding:5px;
}
.button_sign_up
{
    border:solid 0px black;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    width:49%;
    height:35px;
    background-color:#ffa25e;
    color:white;
    font-weight: bold;
    padding:0px;

    font-size: 15px;
    font-family:"AvenirLTStd-Roman";
}
.pic_result
{
    display:inline-block;
    margin:0;
    padding:0;
    padding-top:4px;
    width:24px;
    height:24px;
}
/* Wrong/Approved field*/
.wrong_field
{
    border:solid 1px #fa6d65 !important;
}
.approved_field
{
    border:solid 1px #31dc78 !important;
}
/*LOCATION*/
#sign_up_location_table
{
    display:none;
    width:300px;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    text-align:left;
    padding:40px;
    padding-top:30px;
    padding-bottom:30px;
    background-color:#f7f9fa;
    text-align:left;
}
#sign_up_location_table input[type=text], input[type=password]
{
    width:200px;
    padding:5px;
}
/*SELECT*/
.select-style
{
    padding: 5px;
    margin: 0px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 185px 50%;
}
.select-style select
{
    font-size: 15px;
    font-family:"AvenirLTStd-Roman";

    padding: 1px 5px;
    width: 175px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus
{
    outline:none;
}
