/*
----------SIGN UP
*/

.basic_btn
{
    background-color:#ff9966;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:2px solid white;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:12px 31px;
    text-decoration:none;
    width:200px;
}


#error_box
{
    position:fixed;
    top:-23px;
    left:0;
    background-color:#fa6d65;
    color:white;
    width:100%;
    height:20px;
    text-align:center;
    padding-top:3px;
}
#sign_up_table
{
    width:100%;
    font-family:"AvenirLTStd-Light";

    border-collapse: collapse;
}
#sign_up_table td
{
    border:0px solid black;
    padding:2px;
    padding-right:10px;
}

#sign_up_table a
{
    color:#4d85f2;
}

#sign_up_table input[type='text'],#sign_up_table input[type='password']
{
    font-family:"AvenirLTStd-Light";
    display:block-inline;
    font-size:18px;
    width:60%;
    height:40px;
    border:solid 0px #4d85f2;
    box-sizing:border-box;
    text-align: center;
}
.pic_result
{
    display:inline-block;
    margin:0;
    padding:0;
    padding-top:4px;
    width:24px;
    height:24px;
}
/* Wrong/Approved field*/
.wrong_field
{
    border:solid 1px #fa6d65 !important;
}
.approved_field
{
    border:solid 1px #31dc78 !important;
}

/*UPLOAD IMAGE*/
#modify_image
{
    display:none;
    position:fixed;
    background-color: white;
    top: 40%;
    left: 50%;
    height:450px;
    width:400px;
    margin-top:-180px; /*set to a negative number 1/2 of your height*/
    margin-left:-200px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    padding:15px;
}
#modify_image table
{
    border-collapse:collapse;
}
#modify_image td
{
    padding: 0px;
}

#opaque_background
{
    position:fixed;
    display: none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;

    background-color: #303437;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=70);  /* IE 5-7 */
    -moz-opacity:0.7;          /* Netscape */
    -khtml-opacity:0.7;        /* Safari 1.x */
    opacity:0.7;               /* Good browsers */
}

.set_picture_btn
{
    display:inline-block;
    border:solid 0px black;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    width:100px;
    height:35px;
    background-color:#4d85f2;
    color:white;
    font-weight: bold;
    padding:0px;

    font-size: 15px;
    font-family:"AvenirLTStd-Roman";
}
