html
{
	width:100%;
	height:100%;
}

body
{
    font-family:"AvenirLTStd-Roman";

    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

#overall_table
{ 
 	border:solid 0px black;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
}

#overall_table td
{
    padding:0;
    margin:0;
    border:solid 0px black;
}
input[type='password'], input[type='text']
{
    font-family:"AvenirLTStd-Light";
    font-size: 15px;
    border-width:0px;
    padding:2px;
    width:100%;
    height: 100%;
}
input[type='password']:focus, input[type='text']:focus
{
    outline:none;
}

#btn-default 
{
	background-color:#ff9966;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
}
#btn-default:hover 
{
	background-color:#ff8833;
}
#btn-default:active 
{
	position:relative;
	top:1px;
}

#output_table
{
	font-family:"AvenirLTStd-Light";
	border-collapse: collapse;
}

#output_table td
{
	padding:5px;
} 

#raw
{
	display: none;
	width: 200px;
}

a, a:hover, a:visited, a:link a:active, a:link
{
    text-decoration:none;
    color:white;
}
